:root{
    --branco-principal:   #ffff;
    --cinza-secundario:   #C0C0C0;
    --botao-vermelho:     #AF0404;
    --cor-de-fundo:       #000000;
    --cor-de-complemento: #ff0000;
    --fonte-principal: 'Montserrat' ;
    --botao-dois-vermelho-efeito: #ff0000;
}



body{
    background-color: var(--cor-de-fundo);
    color: var(--branco-principal);
    font-family: var(--fonte-principal) ;
    font-size: 12px;
    font-weight: 400;
}



*{
    margin: 0;
    padding: 0;
}



.principal{
    background-image: url("assets/GITGAMING.png");
    background-repeat: no-repeat;
    background-size:contain;
    background-position: right;
    align-items: center;
    text-align: center;
}


.container{
    height: 100vh ;
    display: grid;
    grid-template-columns: 50% 50%;
}



.container__caixa{
    margin: 6em 14em 0em 2em;
}



.container__titulo{
    margin: 2em 0em;
    font-size: 20px;
    font-weight: 700;
    margin: 1%;
}



.container__botao{
    background-color: var(--botao-vermelho);
    border-radius: 8px 8px;
    padding: 1em;
    color: var(--branco-principal);
    text-decoration: none;
    display: block;
    margin-bottom: 1em;
    font-size: 14px;
    text-align: center;
}


.botao__dois{
    background-color: transparent;
    border: 2px solid var(--botao-vermelho);
}


.container__aviso{
    font-size: 8px;
    color: var(--cinza-secundario);
    margin: 0em 0em 0em 4em;
    text-align: center;

}



.container__imagem{
    margin: 1em 0em 1em -3em;
}


.secundario__imagem{
    width: 50%;

}


.secundario{
    align-items: center;
    margin: 3em 3em;
}


.descricao__titulo{
    font-weight: 700;
    font-size: 28px;
    color: var(--cor-de-complemento);
    margin-bottom: 0.5em;
    
}


.descricao__paragrafo{
    color: var(--cinza-secundario);
    font-size: 13px;
    
}

.botao__tres {
    display: inline-block;
    margin-top: 1em;
}

.container__descricao {
    padding: 3em;
}

.descricao__titulo__dois {
    font-size: 28px;
    font-weight: 700;
    padding: 0.5em 0em;
    color: var(--cor-de-complemento);
}

.descricao__texto {
    font-size: 18px;
}

.rodape {
        text-align: center;
        margin: 5em 3em;
        padding: 7em
        
}

.rodape__lista{
        display: flex;
        justify-content: center;
        list-style-type: none;
        margin-top: 1em 1em;
        padding: 1.5em;
    
}

.lista__link a{
    text-decoration: none;
    color: var(--cor-de-complemento);
    margin-left: 1em;
}

.rodape__texto2 {
    margin: 1em 0em;
    color: var(--cinza-secundario);
    font-size: 14px;
    padding: 1em 0em 0em 0em;
}

.lista__link2 {
    text-decoration: none;
    color: var(--cinza-secundario);
}

.lista__link a:hover {
    color: var(--cinza-secundario);
}


.botao__tres:hover{
    background-color: var(--botao-dois-vermelho-efeito);
}

@media (max-width: 768px){
    .container{
        display:block; 
    }

    .principal{
        background-position: top;
    }

    .container__imagem{
        width: 98vw;
        align-items: center;
    }

    .container__caixa{
        display: flex;
        flex-direction: column;
        margin: 2em 1em 0em 2em ;
        padding-top: 55%;
    }

    .secundario{
        margin: -2em 0em 0em 2em;
        text-align: center;
    }

    .imagem__primaria{
        width: 90vw;
    }

    .imagem__secundaria{
        display: flex;
        flex-direction: row;
        width: 90vw;
    }
    
    .rodape__lista{
        display: block;
        text-align: center;
        margin: 0em -20em 0em -20em;
    }

    .rodape__texto{
        margin: 0em -10em;
    }

    .rodape__texto2{
        margin: 0em -7em 8em -6em;
    }


}
